/* reset do site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fundo1.png');
  background-color: #e4e4e6;
  background-size:  100%;
  background-repeat: no-repeat;
  font-family: Comic Sans;
  font-size: 12px;
}

/* Se a tela tiver pelo menos 400px (é um If)*/
@media (min-width: 500px ) {
  body{
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Nome central do site */
.site-subtitle,
.site-title{
  text-align: center;
  color: whitesmoke;
}

.site-title{
  font-family:'Kalam', cursive;
  font-size: 7em;
  color:#13edd7;
}

.site-subtitle {
  font-style: italic;
  color: #13edd7;
  font-size: 1.5em;
}

.img-portfolio{
  height: 250px;
  width: 350px;
  object-fit: cover;
  object-position: center;
  padding: 1em;
  transition: transform 500ms;
}

.img-portfolio:hover{
  transform: scale(1.2);
}

.portfolio {
  padding: 4em;
  color: whitesmoke;
}

.contato h2,
.portfolio h2{
  font-size: 3em;
  text-align: center;
  margin-bottom: 2em;
  font-family: Comic Sans;
  background-color: whitesmoke;
  border-left: 6px solid black;
  border-right: 6px solid black;
  border-top: 6px solid black;
  border-bottom: 6px solid black;
  color: black;
}

.grid {
  display: grid;
  gap: 8em;
  grid-template-columns: 300px 300px;
  justify-content: center;
}

.portfolio figure {
  text-align: center;
}

.contato a {
  color: #13edd7;
  font-size: 6em;
  text-align: center;
}

.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255,255,255, 1);
}

.gridicons{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
}

.contato .icons{
    text-align: center;
}
