/* reset do site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fundo1.png');
  background-color: #e4e4e6;
  background-size:  100%;
  background-repeat: no-repeat;
  font-family: Comic Sans;
  font-size: 12px;
}

/* Se a tela tiver pelo menos 400px (é um If)*/
@media (min-width: 500px ) {
  body{
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Nome central do site */
.site-subtitle,
.site-title{
  text-align: center;
  color: whitesmoke;
}

.site-title{
  font-family:'Kalam', cursive;
  font-size: 7em;
  color: white;
}

.site-subtitle {
  font-style: italic;
  color: #187ec7;
  font-size: 1.5em;
}

.grid{
  display: grid;
  grid-template-columns: 800px 300px ;
}

.biografia h2{
  width: 100%;
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
  font-family: Comic Sans;
  color: #187ec7;
}

.img-biografia {
  margin-left:7%;

}

.skill h2{
  width: 100%;
  font-size: 3em;
  text-align: center;
  margin-bottom: 4em;
  font-family: Comic Sans;
  color: #187ec7;
}

.contato h2{
  width: 100%;
  font-size: 3em;
  text-align: center;
  margin-bottom: 4em;
  font-family: Comic Sans;
  color: #187ec7;
}

.contato a {
  color: #187ec7;
  font-size: 6em;
  text-align: center;
}

.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255,255,255, 1);
}

.gridicons{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
}

.contato .icons{
    text-align: center;
}
